@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-playfair: var(--font-playfair), serif;
  --font-inter: var(--font-inter), sans-serif;
}

/* Default body font */
body {
  font-family: var(--font-playfair);
  color: #111827; /* text-gray-900 */
}


.section{
  @apply w-[90%] max-w-[1300px] mx-auto mt-26
}

.section-subtitle{
  @apply text-[#b68c5a] text-xl font-semibold
}

.section-title{
  @apply text-[44px] font-semibold text-[#011c1a]
}


.input-style{
  background: radial-gradient(243.00% 43.00% at 79% 50%,rgba(0, 61, 64, 0.5),rgba(1, 28, 26, 0.5) 100%);
  backdrop-filter: blur(100px);
  @apply box-border p-3  border border-white/40 rounded-md  text-white placeholder-[#ffffffbd] font-inter text-xs focus:outline-none focus:border-white
}