@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-playfair: var(--font-playfair), serif;
  --font-inter: var(--font-inter), sans-serif;
}

/* Default body font */
body {
  font-family: var(--font-playfair);
  color: #111827; /* text-gray-900 */
}